/* styles.module.css */

.topnav {
  overflow: hidden;
  background-color: none;
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.topnav h2 {
  color: #ff0;
}

.topnav a {
  float: left;
  display: block;
  color: #fff;
  text-align: center;
  padding: 13px 16px;
  text-decoration: none;
  font-size: 17px;
  font-weight: bold;
}

.topnav a:hover {
  color: #ff0;
}

.topnav .logo {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 7px 10px 3px 10px;
  margin-top: 2px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .logo img {
  width: 30px;
  height: auto;
}

.topnav .logo:hover {
  background: transparent;
}

.topnav button {
  display: none;
}

.container {
  padding: 0px 10px;
}

@media screen and (max-width: 600px) {
  .topnav a {
    display: none;
  }

  .topnav button.icon {
    float: right;
    display: block;
    padding: 13px 16px;
    border: 0;
    outline: none;
    cursor: pointer;
    background: none;
    color: #ff0;
    font-size: 20px;
  }

  .topnav button.icon:focus,
  .topnav button.icon:hover {
    border: none;
    outline: none;
    background: #ffffff44;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {
    width: 100%;
    position: absolute;
  }

  .topnav.topnav.responsive div {
    margin-top: 51px;
    width: 100vw;
    background-color: #ffffff44;
  }

  .topnav.responsive a {
    float: none;
    display: block;
    text-align: right;
    color: #fff;
  }

  .topnav.responsive a:hover {
    background: #ffffff44;
  }

  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
}
