.titulo-seccion{
    text-align: center;
    font-size: 35px;
    color: var(--colorFondo);
}



.beneficios{
    padding-top: var(--marginElementos);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.beneficio{
font-size: 20px;
width: 10em;
height: 10em;
background-image: url("../1x/1x/Recurso\ 3.png");
background-size: cover;
background-position: center;
color: #fff;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
}

@media screen and (max-width:800px) {
    .beneficio{
        margin-bottom: var(--marginElementos);
    }
   }