.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#nora-principal{
  transition: .4s ease-in-out all;
}

#nora-principal:hover{
  transform: scale(1.04)
}

.nora-trayectoria{
  margin: 10px;
  border-radius: 50%;
  width:260px;
  height: 230px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--yellow);
  transition: .4s ease all;
}

.nora-trayectoria p{
  font-weight: bold;
  color: var(--gray);
}

.nora-trayectoria:hover{
  transform: scale(1.04);
  background-color: var(--gray);
}

.nora-trayectoria p:hover{
  color: white;
}